* {
   outline: none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
a,
span,
button {
   user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin-top: 0;
}

html,
body {
   padding: 0;
   margin: 0;
}

html {
   -webkit-app-region: drag;
}

body {
   font-family: sans-serif;
   color: #000;
   line-height: 1.5;
   font-size: 16px;
}

section {
   box-sizing: border-box;
   padding: 2rem;
   position: relative;
   height: 100vh;
}

h1 {
   font-size: 24px;
}

a {
   color: #0000ff;
}

ol.unstyle {
   list-style: none inside;
   padding-left: 0;
}

.masthead {
   display: flex;
}
.masthead nav {
   text-align: right;
}
.masthead > * {
   flex-grow: 1;
}

.button {
   background-color: #ddd;
   color: #000;
   padding: 0.5rem 1rem;
   border: none;
   font-weight: bold;
   font-size: 20px;
   border-radius: 3px;
   cursor: pointer;
   -webkit-app-region: no-drag;
}

.button a {
   text-decoration: none;
   color: #1b1b1b;
}

.button:focus {
   background-color: #efefef;
   color: #1b1b1b;
}

.button:disabled {
   opacity: 0.9;
   cursor: not-allowed;
}

.button--primary {
   background-color: #000;
   color: #fff;
}

.button--primary:focus {
   background-color: #000;
   color: #fff;
}

.button--primary:disabled {
   background-color: #7d7d7d;
}

/*.Structure */
.hide {
   display: none;
}

input {
   border-radius: 3px;
   width: 100%;
   border: 1px solid #ddd;
   padding: 15px;
   box-sizing: border-box;
   font-size: 100%;
}

.text {
}

.text-large {
   font-size: 2rem;
}

.actions {
   text-align: right;
   position: absolute;
   bottom: 2rem;
   right: 2rem;
}
.actions .button {
   margin-left: 1rem;
}

.status--ready {
   background: #2323ff;
   color: white;
   padding: 5px 10px;
   border-radius: 3px;
}

.status--running {
   background: #009900;
   color: white;
   padding: 5px 10px;
   border-radius: 3px;
}

.status--stopped {
   background: #b81515;
   color: white;
   padding: 5px 10px;
   border-radius: 3px;
}
.tags {
   background: #888;
   color: white;
   text-decoration: underline;
   padding: 5px 10px;
   border-radius: 20px;
}
.button-actions {
   background: #555;
   color: white;
   padding: 5px 10px;
   border-radius: 3px;
}

.aggregates {
   display: flex;
   margin-left: -1rem;
   margin-bottom: 2rem;
}

.aggregates article {
   flex-grow: 1;
   background: #efefef;
   border: 1px solid #c4c4c4;
   border-radius: 3px;
   padding: 1rem;
   margin-left: 1rem;
}

.aggregates h6 {
   text-transform: uppercase;
   margin: 0;
}
.aggregates p {
   text-transform: uppercase;
   font-size: 2rem;
   font-weight: bold;
   margin: 0;
}

.graph-holder {
   display: flex;
   flex-direction: row;
   align-items: baseline;
   margin: 1rem 0;
   box-sizing: border-box;
}
.graph-holder p {
   font-weight: bold;
}

.banner {
   background-color: #fff4d8;
   color: #333;
   border: 1px solid #ffeec3;
   padding: 1rem;
   border-radius: 3px;
   margin: 1rem 0;
   font-size: 0.8rem;
}

.banner h4 {
   text-transform: uppercase;
}

.banner * {
   margin: 0;
}

.large-staker {
   width: 100%;
   text-align: left;
   line-height: 1.5rem;
   border-collapse: collapse;
}
.large-staker td {
   border-top: 1px solid rgba(224, 224, 224, 1);
   padding: 6px 10px;
}
